<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monitor.mapper.TbDetectorMapper" >
  <resultMap id="BaseResultMap" type="com.monitor.pojo.TbDetector" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_mainid" property="deviceMainid" jdbcType="INTEGER" />
    <result column="device_minorid" property="deviceMinorid" jdbcType="INTEGER" />
    <result column="device_status" property="deviceStatus" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, company, device_name, device_mainid, device_minorid, device_status, created, 
    updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.monitor.pojo.TbDetectorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_detector
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_detector
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_detector
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.monitor.pojo.TbDetectorExample" >
    delete from tb_detector
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.monitor.pojo.TbDetector" >
    insert into tb_detector (id, company, device_name, 
      device_mainid, device_minorid, device_status, 
      created, updated)
    values (#{id,jdbcType=BIGINT}, #{company,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceMainid,jdbcType=INTEGER}, #{deviceMinorid,jdbcType=INTEGER}, #{deviceStatus,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.monitor.pojo.TbDetector" >
    insert into tb_detector
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceMainid != null" >
        device_mainid,
      </if>
      <if test="deviceMinorid != null" >
        device_minorid,
      </if>
      <if test="deviceStatus != null" >
        device_status,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceMainid != null" >
        #{deviceMainid,jdbcType=INTEGER},
      </if>
      <if test="deviceMinorid != null" >
        #{deviceMinorid,jdbcType=INTEGER},
      </if>
      <if test="deviceStatus != null" >
        #{deviceStatus,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.monitor.pojo.TbDetectorExample" resultType="java.lang.Integer" >
    select count(*) from tb_detector
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_detector
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceName != null" >
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceMainid != null" >
        device_mainid = #{record.deviceMainid,jdbcType=INTEGER},
      </if>
      <if test="record.deviceMinorid != null" >
        device_minorid = #{record.deviceMinorid,jdbcType=INTEGER},
      </if>
      <if test="record.deviceStatus != null" >
        device_status = #{record.deviceStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_detector
    set id = #{record.id,jdbcType=BIGINT},
      company = #{record.company,jdbcType=VARCHAR},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      device_mainid = #{record.deviceMainid,jdbcType=INTEGER},
      device_minorid = #{record.deviceMinorid,jdbcType=INTEGER},
      device_status = #{record.deviceStatus,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.monitor.pojo.TbDetector" >
    update tb_detector
    <set >
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceMainid != null" >
        device_mainid = #{deviceMainid,jdbcType=INTEGER},
      </if>
      <if test="deviceMinorid != null" >
        device_minorid = #{deviceMinorid,jdbcType=INTEGER},
      </if>
      <if test="deviceStatus != null" >
        device_status = #{deviceStatus,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.monitor.pojo.TbDetector" >
    update tb_detector
    set company = #{company,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_mainid = #{deviceMainid,jdbcType=INTEGER},
      device_minorid = #{deviceMinorid,jdbcType=INTEGER},
      device_status = #{deviceStatus,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>